<div>
  
  <div class="header">
    <app-header></app-header>
  </div>
    
  <div class="container-fluid main-container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-sm-2 bg-light sidebar pe-0 p-3">
        <a *ngFor="let child of childrenList"
           class="p-3"
           (click)="showChildDetails(child)"
           (click)="selectChild(child)">
           {{ child.lastname }} {{ child.firstname }}
        </a>
      </div>
      
  
      <!-- Main Content Area -->
      <div class="col-sm-10">
        <div class="spacer"></div>
        <div class="child-details">
          <!-- Display selected child's information here -->
          <h3>Child Details</h3>
          <div *ngIf="selectedChild">
            <p>First Name: {{ selectedChild.firstname }}</p>
            <p>Last Name: {{ selectedChild.lastname }}</p>


            <!-- Add more child details here -->
          </div>

          <div class="container-fluid">
            <div class="row">
            <div class="col-12 mt-3 text-center">
              <div class="card card-shadow ">
                <div class="card-body ">
                  <h3 class="text-success larger-heading display-4">
                    List of attendance by Child
                  </h3>
          
                  <div class="table-responsive mt-3">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">StudentID</th>
                          <th scope="col">date</th>
                          <th scope="col">subject</th>
                          <th scope="col">classe</th>
                          <th scope="col">status</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let attendance of allattendance" >
                          <td>{{ attendance.student_id }}</td>
                          <td>{{ attendance.date }}</td>
                          <td>{{ attendance.subject }}</td>
                          <td>{{ attendance.classe }}</td>
                          <td [ngClass]="attendance.status === 'present' ? 'bg-success' : 'bg-danger'">{{ attendance.status }}</td>
                          
                          
                         <!-- <td>
                            <button type="button" class="btn btn-outline-secondary me-2" (click)="getStudent(student)" data-bs-toggle="modal" data-bs-target="#viewModal">View</button>
                            <button type="button" class="btn btn-outline-primary me-2" (click)="getStudent(student)" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                            <button type="button" class="btn btn-outline-danger" (click)="deleteStudent(student)">Delete</button>
                          </td>-->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        


          <div class="container-fluid">
            <div class="row">
            <div class="col-12 mt-3 text-center">
              <div class="card card-shadow ">
                <div class="card-body ">
                  <h3 class="text-success larger-heading display-4">
                    List of attendance by Child in school
                  </h3>
          
                  <div class="table-responsive mt-3">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">StudentID</th>
                          <th scope="col">Student</th>
                          <th scope="col">Date</th>
                          <th scope="col">status</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let record of attendanceRecords" >
                          <td>{{ record.student_id }}</td>
                          <td>{{ record.student}}</td>
                          <td>{{ record.date }}</td>
                          
                          <td [ngClass]="record.status === 'present' ? 'bg-success' : 'bg-danger'">{{ record.status }}</td>
                          
                          
                         <!-- <td>
                            <button type="button" class="btn btn-outline-secondary me-2" (click)="getStudent(student)" data-bs-toggle="modal" data-bs-target="#viewModal">View</button>
                            <button type="button" class="btn btn-outline-primary me-2" (click)="getStudent(student)" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                            <button type="button" class="btn btn-outline-danger" (click)="deleteStudent(student)">Delete</button>
                          </td>-->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>


          
        </div>
      </div>
    </div>
  </div>
  
  
  </div>