<div class="header">
    <div class="logo">LOGO</div>
    <div class="user">
<div class="user-name">{{ username }}</div>
<div class="user-image">Admin</div>
    
  <!--  <div class="moving-notification-bar">
        <div class="notification-bar-green">
            The prediction for next week is green. Everything looks good!
        </div>
    </div>-->

    <div class="moving-notification-bar">
        <div class="notification-bar-red">
            <span class="alert-symbol">⚠</span>
           <strong>Alert:</strong> The prediction for next week is RED. Please take necessary actions.
        </div>
    </div>
</div>